@import url("https://fonts.googleapis.com/css2?family=Economica&display=swap");

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Economica", sans-serif;
}

body {
  background-image: url("phonelongbg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.section-landing {
  height: 190vw;
}

.section-acara,
.section-misi {
  height: 200vw;
}

.section-kelompok {
  height: 240vw;
}

.section-credits {
  height: 216vw;
}

.section-footer {
  height: 114vw;
}

/* ?Awan */

.awan {
  position: relative;
  z-index: -1;
}

.awan-kiri,
.awan-tengah,
.awan-kanan {
  width: 40%;
  position: relative;
}

.awan-kiri {
  top: 5vw;
  right: 7vw;
}

.awan-tengah {
  right: 17vw;
  top: 47vw;
}

.awan-kanan {
  float: right;
  left: 15vw;
  top: 8vw;
}

/*? Wayang */

.wayang {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 140vw;
}

.wayang-kiri,
.wayang-kanan {
  width: 40%;
}

.wayang-kiri {
  position: relative;
  top: 7vw;
  left: 3vw;
}

.wayang-kanan {
  position: relative;
  float: right;
  left: 3rem;
  top: 3rem;
}

/* Text OKK */

.title-okk {
  color: #ffc380;
  width: 60%;
  position: relative;
  top: 30vw;
  left: 10vw;
}

.title-okk h1 {
  font-size: 10vw;
}

/* CTA Button Tentang OKK UI 2021 */

.title-okk a {
  position: relative;
  top: 0.5rem;
  left: 1.5rem;
}

.cta-tentang {
  border-radius: 1em;
  width: 60%;
  height: 2em;
  font-size: 1rem;
  background-color: #fff;
  border: none;
}

/* !Acara */

.content {
  width: 100vw;
  margin-inline: auto;
  height: 75vw;
  position: relative;
}

.title-acara {
  color: #ffc380;
  /* position: absolute; */
  margin: 0 auto;
  width: 85%;
}

.title-acara h1 {
  font-size: 10vw;
}

.title-acara p {
  font-size: 4.5vw;
}

/* !!!CAROUSEL */

/* ?Title Misi */

.wrap-content-misi {
  margin-top: 30vw;
}

.title-misi {
  text-align: center;
  margin-inline: auto;
  padding-top: 8vw;
  width: 80%;
  z-index: 1;
}

.title-misi h1 {
  color: #ffc380;
  font-size: 10vw;
}

.title-misi p {
  font-size: 4.5vw;
  z-index: 1;
}

/* ?Awan Misi*/

.awan-misi {
  position: relative;
  z-index: -1;
  bottom: 20vw;
}

.awan-misi img {
  width: 75%;
  position: relative;
}

.awan-misikiri {
  right: 30vw;
}

.awan-misikanan {
  float: right;
  left: 30vw;
  bottom: 36vw;
}

/* ?Pohon Kelapa */
.pohon-kelapa {
  width: 100%;
  position: relative;
  bottom: 80vw;
}

.pohon-kelapa img {
  width: 45%;
  position: relative;
}

.kelapa-kanan {
  left: 18vw;
}

.kelapa-kiri {
  right: 8vw;
}

/* !Kelompok */
.title-kelompok {
  text-align: center;
  margin-inline: auto;
  width: 80%;
  color: #fff;
  margin-top: 28vw;
}

.title-kelompok h1 {
  font-size: 10vw;
}

.title-kelompok p {
  color: #cbecf7;
  font-size: 4.5vw;
}

.cta-kelompok {
  width: 30%;
  height: 2em;
  border-radius: 1em;
  background-color: #fff;
  border: none;
}

/* Bagian Sponsor */
.credits {
  padding-top: 15vw;
  text-align: center;
  align-items: center;
}

.sponsor {
  margin-bottom: 30vw;
}

@media only screen and (min-device-width: px) and (max-device-width: 480px) {
}
